<!DOCTYPE html>
<html xmlns="http://www.we.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
		<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<title>Checklist</title>
		<style>
		#title {
		width: 100%;
		margin-bottom: 20px;
		}
		#task {
		width: 100%;
		margin-bottom: 20px;
		}
		#implist {
		width: 20%;
		margin-bottom: 20px;
		}
		</style>
	</head>
	
	<body>
		<h1 class="container">Add task</h1>
		<div>
			<form class="container" th:object ="${entry}" th:action="@{save}" action=# method="post">
				<label for="title">Title</label>
				<input type="text" id="title" th:field="*{entryName}" />
				<label for="task">Task</label>
				<input type="text" id="task" th:field="*{entryText}" />
				<label for="implist">Importance</label>
				<select id="implist" th:field="*{importance}" class="form-control">
					<option th:each="importance: ${importances}" th:value="${importance.importanceid}" th:text="${importance.importanceState}"></option>
				</select>
				<input type="submit" value="Save" class="btn btn-success"></input>
			</form>
		</div>
	</body>

</html>