<!DOCTYPE html>
<html xmlns="http://www.we.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Checklist</title>
	</head>
	
	<body>
		<h1>Add task</h1>
		<div>
			<form th:object ="${entry}" th:action="@{save}" action=# method="post">
				<label for="title">Title</label>
				<input type="text" id="title" th:field="*{entryName}" />
				<label for="task">Task</label>
				<input type="text" id="task" th:field="*{entryText}" />
				<label for="implist">Importance</label>
				<select id="implist" th:field="*{importance}" class="form-control">
					<option th:each="importance: ${importances}" th:value="${importance.importanceid}" th:text="${importance.importanceState}"></option>
				</select>
				<input type="submit" value="Save"></input>
			</form>
		</div>
	</body>

</html>