<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<title>Bookstore</title>
		<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<style>
		.loginpage {
		margin-top: 10px;
		margin-left: 10px;
		}
		#error {
		margin-top: 10px;
		margin-left: 10px;
		}
		#logout {
		margin-top: 10px;
		margin-left: 10px;
		}
		</style>
    </head>
    <body>
        <div id="error" th:if="${param.error}">
            Invalid username and password.
        </div>
        <div id="logout" th:if="${param.logout}">
            You have been logged out.
        </div>
        <form class="loginpage" th:action="@{/login}" method="post">
            <div><label> User Name : <input type="text" name="username"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="Sign In" class="btn btn-primary"/></div>
        </form>
    </body>
</html>